@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji {
  margin: 0;
  height: 0.8em;
  display: inline;
  vertical-align: baseline;
}

.task-icon {
  margin: 0;
}

.task-icon svg {
  height: 0.8em;
  display: inline;
  vertical-align: baseline;
}
