@import 'antd/dist/reset.css';

.emoji {
  height: 1.5em;
  vertical-align: sub;
}

.task {
  vertical-align: middle;
}

.task svg {
  height: 1.5em;
  width: 1.5em;
}

.snippet-editor textarea {
  font-family: monospace;
}
